<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/prueba_ventanas/src/prueba_ventanas/ventana.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="prueba_ventanas.ventana"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="prueba_ventanas"/>
</launchConfiguration>
